In [3]:
import pandas as pd
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt
import os

In [4]:
data_path = os.path.join('..', 'src', 'analytics', 'ChargesChurn.csv')
df = pd.read_csv(data_path)
display(df)

      customerID  MonthlyCharges TotalCharges  Churn
0     7569-NMZYQ          118.75      8672.45      0
1     8984-HPEMB          118.65       8477.6      0
2     5989-AXPUC          118.60      7990.05      0
3     5734-EJKXG          118.60       7365.7      0
4     8199-ZLLSA          118.35      7804.15      1
...          ...             ...          ...    ...
7038  0621-CXBKL           18.70       1005.7      0
7039  9945-PSVIP           18.70       383.65      0
7040  0827-ITJPH           18.55          689      0
7041  9764-REAFF           18.40      1057.85      0
7042  6823-SIDFQ           18.25        534.7      0

[7043 rows x 4 columns]

In [8]:
for nun in df.columns:
    response = df[nun].isna().sum()
    if response > 1:
        print(f'{response}')
    print(f'nao há valores nulos em: {nun}')

nao há valores nulos em: customerID
nao há valores nulos em: MonthlyCharges
nao há valores nulos em: TotalCharges
nao há valores nulos em: Churn